# CAPSTONE Project - Neighborhood Clustering

###

# Question 2

### Loading the dataset. The same is done using the Geospatial_Cordinates.csv provided by the link in the "My Submission" Page

In [21]:

body = client_a37a82f472884de3af85202afee14c1c.get_object(Bucket='capstonetoronto-donotdelete-pr-6kve0jrbutzhnh',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_3 = pd.read_csv(body)
df_data_3.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Finding the shape of the dataset.

In [22]:
df_data_3.shape

(103, 3)

### Sicne the two datasets have to be merged on Postcode- the key, we rename the column in the new dataframe by Postcode.

In [23]:
df_data_3 = df_data_3.rename(columns = {"Postal Code": "Postcode"})
df_data_3.head(5)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

### Merging the two dataframes

In [24]:
df_latlon = pd.merge(df_final,df_data_3,on='Postcode')
df_latlon.head(5)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494